.todo {
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-image: linear-gradient(180deg, #859867, #4c6b29);
    color: white;
}
.redes {
    display: flex;
    flex-direction: column;
    
    color: white;
    font-weight: 500;
    font-size: 1.3em;
    
  }
  
  .redes a {
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 15px;
    text-decoration: none;
    font-style: none;
    color: white;
    font-weight: lighter;
}
.direccion{
    font-size: 1.2em;
    font-weight:lighter;
}
.conocenos{
    font-size: 1.2em;
    font-weight:lighter;    
}
