.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
  margin-top: 0;
  padding: 0px;
  background-image: linear-gradient(180deg, #859867, #4c6b29);
}

.text {
  padding-top: 0px;
}

.cont img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 769px) {
  .cont {
    padding: 20px;
  }
  
  .text h2 {
    font-size: 2rem;
  }

  .text img {
    max-width: 80%;
  }
}